* {
  background-color: gray;
  font-family: sans-serif;
  color: white;
}

body {
  width: 100%;
  
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  
}

.style {
  margin:100px 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dotted black;
  border-radius: 5px;
  align-items: center;
  padding: 50px;
}

.player-card {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 250px;
  display: inline-block;
}

/* .player-card:nth-child(2) {
  transform: rotate(180deg);
} */

.winner {
  width: 100px;
  height: 55px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

button:hover {
  background-color: darkgrey;
}

button:focus {outline:0;}